doctype html
html
  head
    title #{appTitle}
    script(type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js")
    script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
    link(rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css" integrity="sha256-iq5ygGJ7021Pi7H5S+QAUXCPUfaBzfqeplbg/KlEssg=" crossorigin="anonymous")
    link(rel="stylesheet" href="/css/jquery.bootgrid.min.css")
    style(type="text/css").
      #mynetwork {
        height: 700px;
        border: 1px solid lightgray;
      }
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.slim.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js" integrity="sha256-JuQeAGbk9rG/EoRMixuy5X8syzICcvB0dj3KindZkY0=" crossorigin="anonymous")
    script(type="text/javascript")
      const localLogin = "#{user}";
    script(src="/js/jquery.bootgrid.min.js")
    script(type="text/javascript" src="/js/main.js")
    if(user == "cerichar")
      script(type="text/javascript" src="/js/admin.js")
    script(type="text/javascript")
      | var table = $("#table").bootgrid({
      |  formatters: {
      |    "commands": function(column, row)
      |    {
      |      if(row.creator === "#{user}" || localLogin === "#{user}")
      |        return "<button class=\"btn btn-danger delete\" id=\"add\" data-row-id=\"" + row.id + "\">X</button>";
      |      else
      |        return "";
      |    }
      |  }
      |}).on("loaded.rs.jquery.bootgrid", function()
      |{
      |  table.find(".delete").on("click", function(e)
      |  {
      |    let id = $(this).data("row-id");
      |    $.get( '/api/delete',{ "id": id }, function(data) {
      |      $("#table").bootgrid("remove",[id]);
      |    });
      |  });
      |});    
  body
    .container-fluid
      .row
        .col-md-10.text-center
          h1.display-4=appTitle
            p.lead
              | Entrez les noms de vos parrains/marraines/fillots/fillottes, officiels/adoptés/disparus/chelous afin de contruire un joli graph !
    .row
      .col-md-5
        form.form-horizontal(role="form")
          .form-group
            label.col-sm-2.control-label(for="from")
              | Nom du parrain/marraine
            .col-sm-9
              input#from.form-control.namecomplete(name="from")
          .form-group
            label.col-sm-2.control-label(for="to")
              | Nom du fillot(te)
            .col-sm-9
              input#to.form-control.namecomplete(name="to")
          .form-group
            .col-sm-offset-2.col-sm-9
              button#add.btn.btn-success
                | Ajouter
        table#table.table.table-striped.table-condensed.table-hover
          thead
            tr
              th(data-column-id="id" data-identifier="true" data-type="numeric" data-visible="false")
                | Id
              th(data-column-id="parent" data-order="asc")
                | Parrain/Marraine
              th(data-column-id="child" data-order="asc")
                | Fillot(te)
              th(data-column-id="commands" data-formatter="commands" data-sortable="false")
                | Supprimer
              th(data-column-id="creator" data-visible="false")
                | Createur
          tbody
            each link in links
              tr
                td=link.id
                td=link.parent.label
                td=link.child.label
                td
                  if user == link.creator || user == "cerichar"
                    button#add.btn.btn-danger.delete(linkid=link.id) X
                if user == "cerichar"
                  td link.creator
      h2
        | Graph 
        a.btn.btn-primary(href="/view") (cliquez ici pour le voir en grand)
      div Utilisez la molette pour zoomer
      .col-md-6
        form
          .form-group
            label(for="graphSearchInput") Recherche
            input#graphSearchInput.form-control.namecomplete
            button#graphFindBtn.btn.btn-primary
              | Rechercher
      #mynetwork.col-md-6
        if user == "cerichar"
          button#save.btn.btn-primary save positions
          button#updateLogins.btn.btn-primary Update Logins
