doctype html
html
  head
    meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="description" content="")
    meta(name="author" content="Cesar Richard")
    title #{appTitle}
    link(rel="icon" href="/img/favicon.ico")
    link(rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
    link(href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.3/sketchy/bootstrap.min.css", rel="stylesheet", integrity="sha384-5cy8WdlNAGqQwyB33aLiqJoRQQxZsc3TDUkSTahHAx2gMK3o0te7Xqm+nNLe4Ou3", crossorigin="anonymous")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css" integrity="sha256-iq5ygGJ7021Pi7H5S+QAUXCPUfaBzfqeplbg/KlEssg=" crossorigin="anonymous")
    link(rel="stylesheet" href="/css/jquery.bootgrid.min.css")
    style(type="text/css").
      #mynetwork {
        height: 700px;
        border: 1px solid lightgray;
      }
    script(type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js")
    script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.slim.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js" integrity="sha256-JuQeAGbk9rG/EoRMixuy5X8syzICcvB0dj3KindZkY0=" crossorigin="anonymous")
    script(type="text/javascript").
      const localLogin = "#{user}";
    script(src="/js/jquery.bootgrid.min.js")
    script(type="text/javascript" src="/js/main.js")
    if user == "cerichar"
      script(type="text/javascript" src="/js/admin.js")
    script(type="text/javascript")
      | $(function(){
      |   $.extend($.fn.bootgrid.Constructor.defaults, {
      |     css: {
      |       pagination: "pagination",
      |       paginationButton: "page-link",
      |     },
      |     templates: {
      |       pagination: '<ul class="{{css.pagination}} pagination-sm"></ul>',
      |         paginationItem: '<li class="page-item"><a class="page-link" data-page="{{ctx.page}}">{{ctx.text}}</a></li>'
      |       }
      |   });
      |   var table = $("#table").bootgrid({
      |    formatters: {
      |      "commands": function(column, row)
      |      {
      |        if(row.creator === "#{user}" || localLogin === "#{user}")
      |          return "<button class=\"btn btn-danger delete\" id=\"add\" data-row-id=\"" + row.id + "\">X</button>";
      |        else
      |          return "";
      |      }
      |    }
      |   }).on("loaded.rs.jquery.bootgrid", function()
      |   {
      |    table.find(".delete").on("click", function(e)
      |    {
      |      let id = $(this).data("row-id");
      |      $.get( '/api/delete',{ "id": id }, function(data) {
      |        $("#table").bootgrid("remove",[id]);
      |      });
      |    });
      |   });
      | });
  body
    .row
      .col-md-12.text-center
        h1.display-4=appTitle
          p.lead
            | Entrez les noms de vos parrains/marraines/fillots/fillottes, officiels/adoptés/disparus/chelous afin de contruire un joli graph !
    .row
      .col-md
        form.form-horizontal(role="form")
          .form-group
            label.col-sm-2.control-label(for="from")
              | Nom du parrain/marraine
            .col
              input#from.form-control.namecomplete(name="from")
          .form-group
            label.col-sm-2.control-label(for="to")
              | Nom du fillot(te)
            .col
              input#to.form-control.namecomplete(name="to")
          .form-group
            .col-offset-2.col
              button#add.btn.btn-success
                | Ajouter
        table#table.table.table-striped.table-condensed.table-hover
          thead
            tr
              th(data-column-id="id" data-identifier="true" data-type="numeric" data-visible="false")
                | Id
              th(data-column-id="parent" data-order="asc")
                | Parrain/Marraine
              th(data-column-id="child" data-order="asc")
                | Fillot(te)
              th(data-column-id="commands" data-formatter="commands" data-sortable="false")
                | Supprimer
              th(data-column-id="creator" data-visible="false")
                | Createur
          tbody
            each link in links
              tr
                td=link.id
                td=link.parent.label
                td=link.child.label
                td
                  if user == link.creator || user == "cerichar"
                    button#add.btn.btn-danger.delete(linkid=link.id) X
                if user == "cerichar"
                  td=link.creator
      .col-md
        h2
          | Graph 
          a.btn.btn-primary(href="/view") (cliquez ici pour le voir en grand)
        div Utilisez la molette pour zoomer
        .col-md
          form
            .form-group
              label(for="graphSearchInput") Recherche
              input#graphSearchInput.form-control.namecomplete
              button#graphFindBtn.btn.btn-primary
                | Rechercher
        #mynetwork.col-md
        if user == "cerichar"
          button#save.btn.btn-primary save positions
          button#updateLogins.btn.btn-primary Update Logins
